* {
    margin: 0;

}

body {
    background-color: #1A0B2E;
    color: white;
}

nav {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10px;
}


.nav-teitel h3 {
    font-size: 2.5rem;
    color: white;
}

.nav-link ul {
    display: flex;
    gap: 25px;
}

.nav-link ul li {
    list-style: none;
}

.nav-link ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.text {
    background: linear-gradient(90deg, #ff00ff, #ff1493, #ff4500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: bold;
    font-size: 3rem;
}

.nav-button {
    background: linear-gradient(135deg, #FFD700, #FF0080, #8A2BE2);
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 20px;
     cursor: pointer; 
      transition: transform 3s;
}
.nav-button:hover{
    
    transform: scale(1.5);
}
.nidden{
    display: none;
}
@media screen and (max-width:576px) {
    .nav-button , .nav-link ul{
        display: none;
    }
    .nidden{
    display: flex;
}
}
header {
    max-width: 1600px;
    margin: auto;

}

.bg-img {
    z-index: 1;
    position: absolute;


}

.bg-coler {
    z-index: 2;
    margin-left: 623px;
    padding-top: 70px;

    position: absolute;
}

.banner-img {
    z-index: 3;
    position: relative;
    margin-left: 740px;
    padding-top: 150px;

}

.new {

    z-index: 4;
    position: absolute;
    margin-left: 855px;
    margin-top: -265px;
}

.banner-text {
    z-index: 5;
    position: relative;
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    text-align: center;

}

.banner-hadding {
    font-size: 4rem;
}

.banner-p {
    font-size: 1rem;

}

.banner-1 {
    background: linear-gradient(135deg, #FFD700, #FF0080, #8A2BE2);
    padding: 10px 30px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 20px;
}

.banner-2 {
    border: 1px solid green;
    padding: 10px 25px;
    background: inherit;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
}

.button {
    padding: 20px 0px;

}

.text-section {
    padding: 150px 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About {
    font-size: 3rem;
    color: white;
    font-size: bold;
    padding-bottom: 10px;
}

.TechWave {
    font-size: 1rem;
    line-height: 30px;
}

.Join {
    font-size: 1rem;
    padding-top: 30px;
}

hr {
    max-width: 1200px;
    margin: auto;
}

.ster {
    max-width: 1200px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
display: grid;
grid-template-columns: repeat(4 , 1fr);
gap: 80px;
text-align: center;
padding: 100px 200px;
    /* padding-bottom: 100px;
    padding-top: 100px; */
    margin: auto;
    
}

@media screen and (max-width:576px) {
    .ster {
       grid-template-columns: repeat(2 , 1fr);
       padding: 40px 20px;
       gap: 40px;
    }
}

.ster h1 {
    color: #00ff44;
    font-size: 3rem;
    font-style: bold;
    padding-bottom: 10px;
}

.ster p {
    font-size: 1rem;
    color: #FFFFFF;
}

.card-hadding {
    font-size: 3rem;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 20px 50px ;
}

/* card-1 */
.card-1 {
    height: 480px;
    width: 380px;
    border: none;
    border-radius: 30px;
    background-color: #2d134e;
    padding: 40px;
}

#div {
    padding: 60px;
}

.card-1 h3 {
    font-size: 1.5rem;
    font-style: bold;
    padding: 16px 0px;
}

.card-1p {
    font-size: 1rem;
    line-height: 25px;
}

/* card-2 */
.card-2 {
    width: 790px;
    height: 190px;
    border: none;
    border-radius: 30px;
    background-color: #2d134e;
    padding: 40px;
}

.card-2 h3 {
    font-size: 1.5rem;
    font-style: bold;
    padding: 16px 0px;
}

.card-2p {
    font-size: 1rem;
    line-height: 25px;
}

/* card-3 */
.card-3 {
    width: 790px;
    height: 190px;
    border: none;
    border-radius: 30px;
    background-color: #2d134e;
    padding: 40px;
}

.card-3 h3 {
    font-size: 1.5rem;
    font-style: bold;
    padding: 16px 0px;
}

.card-3p {
    font-size: 1rem;
    line-height: 25px;
}

/* card-4 */
.card-4 {
    width: 790px;
    height: 190px;
    border: none;
    border-radius: 30px;
    background-color: #2d134e;
    padding: 40px;
}

.card-4 h3 {
    font-size: 1.5rem;
    font-style: bold;
    padding: 16px 0px;
}

.card-4p {
    font-size: 1rem;
    line-height: 25px;
}

/* card-5 */
.card-5 {
    width: 380px;
    border: none;
    border-radius: 30px;
    background-color: #2d134e;
    padding: 40px;
}

.card-5 h3 {
    font-size: 1.5rem;
    font-style: bold;
    padding: 16px 0px;
}

.card-5p {
    font-size: 1rem;
    line-height: 25px;
}

/* card-close */
#card-1 {
    grid-area: card-1;
}

#card-2 {
    grid-area: card-2;
}

#card-3 {
    grid-area: card-3;
}

#card-4 {
    grid-area: card-4;
}

#card-5 {
    grid-area: card-5;
}

.card-section {
    max-width: 1200px;
    display: grid;
    gap: 30px;
    margin: auto;
    grid-template-areas:
        "card-1 card-2 card-2"
        "card-1 card-3 card-3"
        "card-4 card-4 card-5";
    margin-bottom: 150px;
}

@media screen and (max-width:576px) {
    .card-section {

        grid-template-areas:
            "card-1"
            "card-2"
            "card-3"
            "card-4"
            "card-5";
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        max-width: 400px;
        margin: auto;
        margin-bottom: 8px;
        /* justify-content: center;
   display: flex;
   justify-content: center; */

    }

    .card-section {
        margin-bottom: 60px;
    }
}

#iframe-1 {
    grid-area: iframe-1;
}

#iframe-2 {
    grid-area: iframe-2;
}

#iframe-3 {
    grid-area: iframe-3;
}



.iframe {
    border-radius: 8px;
    max-width: 1200px;
    gap: 20px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "iframe-1 iframe-2 iframe-3";

}

iframe {
    border-radius: 8px;
}

.iframe-1 {
    /* max-width:380px; */
    border-radius: 8px;
    margin: 0px 20px;
    background-color: #2d134e;
}

.iframe h2 {
    font-size: 1.5rem;
    padding: 24px;
}

.iframe p {
    padding: 0px 24px;
}

.clock {
    padding: 24px;
}

.min {
    font-size: 1rem;

}

@media screen and (max-width : 576px) {
    .iframe {
        grid-template-areas:
            "iframe-1"
            "iframe-2"
            "iframe-3";
    }
}

.Meet {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 120px 0px 40px;

}

.challenge {
    max-width: 1200px;
    margin: auto;
    background-color: #2d134e;
    border-radius: 20px;
   margin-bottom: 120px;
    

}
@media screen and (max-width:576px) {
  .challenge{
    flex-direction: column;
    text-align: center;
    margin: 24px 20px 40px 20px;
  }
  .socel-img{
    padding:16px 80px;
  }
}

.challenge-text h3 {
    font-size: 2rem;
}

.challenge-text p {
    font-size: 1rem;
    padding: 16px 0px;
}

.socel-img {
    gap: 8px;
    margin: auto;
    display: flex;
}

.challenge {
    gap: 24px;
    display: flex;
    align-items: center;
   padding: 40px;
}

.png {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px plum;
    border-radius: 50%;
}


.footer-tex h3 {
    font-size: 3rem;
}


.footer-link1 {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    max-width: 800px;
   text-align: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;

}
 @media screen and (max-width:576px) {
   .footer-link1  {
   grid-template-columns: repeat(2, 1fr);
   
   }  
 
} 
.footer-bg {
    z-index: 1;
    position: absolute;

}

.footer-tex {
 max-width: 1360px;
 padding-top: 200px;
    z-index: 2;
    position: relative;
    text-align: center;
 
   margin: auto;
  
}
@media screen and (max-width:576px) {
    .footer-tex{
        padding-top: 0px;
    }
}